*{
    margin: 0;
    padding:0;
    text-decoration: none;
    line-height: 1.2;     
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


img{
    display: block;
    max-width: 100%;
}
#logo{
    width: 110px;
    display: inline-block;
}

#globo{
    width: 20px;
    height: 20px;
    position: relative;
    
}
#vamosLa{    
    margin-top: 0px;
    display: grid;
    background-color: #e30813;
    padding: 23px 10px;
    box-sizing: border-box;
    font-size: 20px;
    min-height: 20px;
}

#vamosLa:hover{
    cursor: pointer;
}






select{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    top: -2px;
}

.mid{  
    background: url("../img/fundo.jpg") 0 0 no-repeat ;
    background-size: cover;
    background-position: center;  
    padding: 25px 0;
    height: 100vh;    
    z-index: 1;
    position: relative;
}
.mid2{  
    background-color: rgb(0, 0, 0);;
    padding: 25px 0;
    height: 100vh;    
    z-index: 1;
    position: relative;
}

.mid::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '' ;
    background: rgba(0,0,0,.6);
    z-index: -1;
}

.mid-container{
    /*max-width: 92%;*/
    max-width: 92%;
    margin-left: auto;
    margin-right: auto; 
    height: 75%;
    align-items: center;   
}

.container{
    max-width: 100;
    margin: 0 auto;
}

.grid{    
    display: grid;    
    align-items: center;
    justify-content: center;
}
.section{
    background: black;
    padding: 1rem 0;
    border-top: 8px solid #222;    
    background: url("../img/fundo2.jpg") 0 0 no-repeat ;    
    background-size: cover;
    background-position: center;  
    height: 30vw;
    width: 100%;
}
.section h1{
    margin-top: 30px;
    font-size: 3vw;
    display: grid;
    margin-bottom: 16px;
    color: #fff;
    font-family: sans-serif;
    justify-content: center;
    
}
.midh{  
    background: url("../img/fundo.jpg") 0 0 no-repeat ;    
    background-position: center;  
    background-size: cover;
    background-color: rgb(0, 0, 0);
    padding: 25px 0;
    height: 75vh;    
    z-index: 1;
    position: relative;
}

.mid-container1h{    
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
    height: 40px;    
    background: #555;
    align-items: center;
    text-align: center;
    
    
}
.mid-container1h h1{       
    color: #fff;
    display: grid;
    padding: 10px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;    
}
.cont-2 h1{
    font-size: 2vw;
    color: #fff;
    clear: both;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


.cont-2 h2{
    font-size: 1vw;
    color: #fff;
    clear: both;
    align-items: center;
    text-align: center;
    
}

/************* Botoes **************/

.botaum{ 
    display: flex;   
    padding:  8px 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: #1cf100;
    float: right;
    border-radius: 3px;
}

.botao-lingua{      
    display: flex;    
    border: 1px solid #aaa;
    padding: 7px 5px;    
    margin-right: 30px;      
    float: right;
    border-radius: 3px;
    align-items: center;
    clear: left;  
}
.botao-lingua:hover{
    cursor: pointer;
}
.botao{ 
    display: flex;   
    padding:  8px 10px;
    font-size: 18px;
    color: #fff;
    background: #00ff0d;
    float: right;    
    border-radius: 1px;
}



/************* MID **************/

.mid-cont{
   /* padding: 30px 150px;*/
    clear: both;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100% ;
    align-items: center;
    text-align: center;
    /*margin-left: 155px;   */ 
}
.title-main{ 
    font-size: 3vw;
    /*font-size: 64px;*/
    display: grid;
    justify-items: center;
    align-items: center; 
         
}


.mid-cont-interno h2{
    display: grid;
    /*font-size: 1.5rem;*/
    font-size: 1.1vw;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;    
    font-weight: 400;
    justify-items: center;
    
}

.mid-cont-interno p{    
    display: grid;
    /*font-size: 1.1rem;*/
    font-size: 1vw;
    font-weight: normal;
    justify-items: center;   
}


.login{
margin: 0 auto;
margin-top: 150px; 
width: 30vw;
height: 60vh;
top: 0px;
left: 0px;
z-index: 1;
display: grid;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.6);
border-radius: 5px;
padding: 30px 70px 143px 70px;   


}

.login h1{
    color: white;
    padding-bottom: 10px;
}

.input-text{
    margin-bottom: 20px;
}

.input-text input{
    width: 100%;
    height: 45px;
    background-color: #333;
    color: white;
    border-radius:5px;
    border: none;
    outline: transparent;
    text-indent: 18px;
}

.input-text input::-webkit-input-placeholder {
    font-size: 1rem;
    color: #999;
}

.input-text input::-moz-placeholder {
    font-size: 1rem;
    color: #999;
    text-indent: 40px;
}

.login-button{
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    background-color: rgb(41, 248, 0);
    color:rgba(0, 0, 0, 0.973);
    border:none;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
}

.lembrar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text{
    color: #b3b3b3;
}

.color_link{
    color: #737373;
}

.cadastro-link{
    color: white;
    text-decoration: none;
}

.warning-input{
    display: none;
    color:#e87c03;
    margin-top: 0;
    font-size: 0.8rem;
    margin-top: 6px;
}
.novos-membros{
    margin-bottom: 10px;
    color: #8c8c8c;
}

/*Cadastro*/
.cadastro{
    margin: 0 auto;
    margin-top: 150px; 
    width: 30vw;
    height: 60vh;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px 70px 143px 70px;   
    
    
    }
    
    .cadastro h1{
        color: white;
        padding-bottom: 10px;
    }


/*POSTTTT*/

.post{
    margin: 0 auto;
    margin-top: 150px; 
    width: 100%;
    height: 60vh;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#000000de;
    padding: 30px 70px 143px 70px;   
}
.post h1{
    color: white;
    padding-bottom: 10px;
}
.post ul{
    color: white;
    padding-bottom: 10px;

}

.conteudos{
    color: white;
    padding-bottom: 10px;
}
.conteudos input {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: #33333393;
}

.conteudos label {
    font-size: 1rem;
    color:  #ebebeb;
}

/****POST IMAGENS****/
.postImagens{
    margin: 0 auto;
    margin-top: 150px; 
    width: 100%;
    height: 60vh;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#000000de;
    padding: 30px 70px 143px 70px;   
}
.postImagens h1{
    color: white;
    padding-bottom: 10px;
}
.postImagens ul{
    color: white;
    padding-bottom: 10px;

}

.post{
    margin: 0 auto;
    margin-top: 150px; 
    width: 100%;
    height: 60vh;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#000000de;
    padding: 30px 70px 143px 70px;   

}



