<!DOCTYPE html>

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Razer United States</title>
  <link rel="stylesheet" href="/public/style.css" />
  <link rel="shortcut icon" href="./img/logo.png" />  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  

</head>

<body>
<!--  header     -->
  <div class="mid">
    <div class="mid-container">

      <div class="logo">
        <span>
          <img id="logo" src="./img/logo.png">
        </span>  
      </div>

        <button class="botao" id="pcButton">PC</button>
        <button class="botao" id="consoleButton">Console</button>
        <button class="botao" id="mobileButton">Mobile</button>
        <button class="botao" id="lifeStyleButton">LifeStyle</button>
        <button class="botao" id="servicesButton">Services</button>
        <button class="botao" id="communityButton">Community</button>
        <button class="botao" id="supportButton">Support</button>
        <a href="/login" class="botao">Login</a>  
        <a href="/post" class="botao">Post</a>  
          

<!-- Mid -->
   
    <div class="mid-container1">
        <h1>RazerStore Rewards Members Exclusive: Enjoy 20% off with a $200 minimum spend on selected products.  Join Now ></h1>    
    </div>
    <div class="mid">                    
        <div class="mid-container2">
            <div class="cont-2">
                <h1>OUTPLAY YOUR COMPETITION </h1>  
                <h2>ELEVATE YOUR GAME WITH THESE UPGRADES</h2> 
                <a href="" class="botao">Shop Exclusive Deals > </a>                
            </div>                           
        </div>
    </div>            

 <!-- Section -->
    <section class="section">
      <div class="container">
        <div class="grid">
          <div>
            <h1>NEW RAZER BLADE 15</h1>            
          </div>          
        </div>
      </div>
    </section>


</body>

</html>