<!DOCTYPE html>

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Razer United States</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="./img/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
<!--  header     -->
  <div class="mid">
    <div class="mid-container">

      <div class="logo">
        <span>
          <img id="logo" src="./img/logo.png">
        </span>             
        
        <a href="/login" class="botaum"id="postButton">Entrar</a> 
        <a href="/post" class="botaum"id="postButton">Post</a> 
        
        
      </div>

<!--  main     -->


    <div class="midh">                    
        <div class="mid-container2h">
            <div class="cont-2">
                <h1>OUTPLAY YOUR COMPETITION </h1>  
                <h2>ELEVATE YOUR GAME WITH THESE UPGRADES</h2> 
                <a href="" class="botaos">Shop Exclusive Deals > </a>                
            </div>                           
        </div>
    </div>   
     
    </div>
</div>
<!-- footer       -->
    <div id="gradiente"></div>
    <section class="section">
      <div class="container">
        <div class="grid">
          <div>
            <h1>NEW RAZER BLADE 15</h1>            
          </div>  
          
        </div>
      </div>
    </section>


    <!--   modal    -->
    <div id="modal-entrar" class="modal-container">
      <div class="modal">
        <div class="sel-modal">
          <div class="texto-modal">
            <p>SELECIONE UMA OPÇÃO</p>
          </div>
          <button class="fechar">x</button>
          <div class="botao-modal">
            
            <a href="/login" class="botaum" id="entrarButton">Entrar</a> 
            
          </div>
        </div>
      </div>
    </div>


    

    <script src="../controller/login.js"></script>
</body>

</html>