<!DOCTYPE html>

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Razer United States</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="./img/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
<!--  header     -->
  <div class="mid">
    <div class="mid-container">

      <div class="logo">
        <span>
          <img id="logo" src="./img/logo.png">
        </span>

        <a href="/login" class="botaum">Entrar</a>  
        <a href="/post" class="botaum">Post</a>    

        <div class="botao-lingua">
          <img id="globo" src="./img/globo.png">
          <select>
            <option>Português</option>
            <option>Inglês</option>
          </select>
        </div>
      </div>

<!--  main     -->



<div class="mid-container1h">
        <h1>RazerStore Rewards Members Exclusive: Enjoy 20% off with a $200 minimum spend on selected products.  Join Now ></h1>    
    </div>
    <div class="midh">                    
        <div class="mid-container2h">
            <div class="cont-2">
                <h1>OUTPLAY YOUR COMPETITION </h1>  
                <h2>ELEVATE YOUR GAME WITH THESE UPGRADES</h2> 
                <a href="" class="botao">Shop Exclusive Deals > </a>                
            </div>                           
        </div>
    </div>   
     
    </div>

<!-- footer       -->
    <div id="gradiente"></div>
    <section class="section">
      <div class="container">
        <div class="grid">
          <div>
            <h1>NEW RAZER BLADE 15</h1>            
          </div>  
          
        </div>
      </div>
    </section>

</body>

</html>