<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Post</title>

</head>

<body>    
    

    <div class="mid2">
    <div class="mid-container">

      <div class="logo">
        <span>
          <img id="logo" src="./img/logo.png">
        </span>

        <a href="/" class="botaum">Sair</a>   

        <div class="botao-lingua">
          <img id="globo" src="./img/globo.png">
          <select>
            <option>Português</option>
            <option>Inglês</option>
          </select>
        </div>
      </div>

    <div class="post"> 
    <a href="/postsImagens" class="botaum" >» Postar Imagem...</a>  
    <a href="/posts" class="botaum" >» Postar Texto...</a> 
    </div>
    
</body>

</html>